.App {
  text-align: center;
}
.App header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* -webkit-clip-path: circle(70% at 50% 0);
  clip-path: circle(70% at 50% 0); */
}
.App header h1 {
  margin-bottom: 1vmin;
}
.App__section-title {
  font-size: calc(20px + 2vmin);
  font-size: 50px;
  margin: 0;
  display: inline-block;
  border-bottom: solid 1px #282c34;
}
tspan {
  font-size: 8px !important;
}
